body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  width: 900px;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .content {
    width: 100%;
  }
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.line {
  text-decoration: line-through;
  opacity: 0.7;
}
.main-back {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  background-color: #eee;
  margin-bottom: 10px;
  padding: 10px;
}
.back {
  background-color: firebrick;
}
.header {
  height: 100px;
  width: 100%;
  background-color: seagreen;
  color: #fff;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header div a {
  color: #fff;
}
.header > div a:first-child {
  padding-right: 10px;
}
.about {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
